@import '../../../../asset/base.scss';

.list__sidebar {
  margin: 12px 0 48px;

  li {
    font-family: $font-stack-light;
    font-size: 14px;
    letter-spacing: 1px;

    &:hover {
      background: $color-grey2;
    }

    a {
      color: $color-grey5;
      display: block;
      padding: 12px 24px;

      &:hover {
        color: $color-black;
      }
    }
  }
}

// /* Smartphones (portrait) ----------- */
// @media screen and (min-width: 580px) {

//   .header__menu li {
//     font-size: 15px;
//     margin-left: 36px;
//   }

// }
