// background
$background-billboard: radial-gradient(circle at bottom right,#06307f,#09c);
$background-body: #efefef;
$background-chic: #09c;
$background-code: #efefef;
$background-container-primary: #fafafa;
$background-container-secondary: #fefefe;
$background-footer: #222;
$background-header: #222;
$background-table-head: #efefef;

// button
$button-border-color: #6e7f80;
$button-hover-color: $button-border-color;
$button-primary-color: #3c3c3c;

// colors
$color-black: #000;
$color-cta: #09c;
$color-cta-tint: #0ae;
$color-mustard: #ffc300;

// font
$font-color-body: #8c8c8c;
$font-color-code: #8a2be2;
$font-color-loud: #fff;
$font-color-link: $color-cta;
$font-color-link-hover: #cc3300;
$font-color-secondary-color: #6e7f80;



$color-white: #fff;

// Grey
$color-grey1: #fafafa;
$color-grey2: #efefef;
$color-grey3: #dedede;
$color-grey4: #b8b8b8;
$color-grey5: #747474;
$color-grey6: #636363;
