// black
$color-black1: #333;
$color-black2: #000;

//blue
$color-blue1: #09c;
$color-blue2: #0ae;

// grey
$color-grey1: #fafafa;
$color-grey2: #efefef;
$color-grey3: #dedede;
$color-grey4: #b8b8b8;
$color-grey5: #747474;
$color-grey6: #636363;

// purple
$color-purple: #8a2be2;

// red
$color-red1: #cc3300;

// white
$color-white: #fff;




// TODO;
$font-color-body: #8c8c8c;
