@import '../../../../asset/base.scss';

.header__menu {
  li {
    display: inline;
    font-family: $font-stack-light;
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 18px;

    a {
      color: $color-grey5;
      text-decoration: none;

      &:hover {
        color: $color-black2;
        padding-bottom: 6px;
      }
    }
  }
}

/* Smartphones (portrait) ----------- */
@media screen and (min-width: 580px) {

  .header__menu li {
    font-size: 15px;
    margin-left: 36px;
  }

}
