@import '../../../../asset/base.scss';

.typography__sub_title {
  color: $color-grey4;
  font-family: $font-stack-light;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;
  // REMOVE BELOW
  margin: 24px 24px 0;

  @media screen and (max-width: 415px) {
    font-size: 21px;
  }
}
