@import '../../../../asset/base.scss';

.typography__body {
  color: $font-color-body;
  font-family: $font-stack-normal;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 18px;
  margin-bottom: 20px;
}
