@import '../../../../asset/base.scss';

.button__primary {
  background: transparent;
  border: 1px solid $color-cta;
  border-radius: 5px;
  color: $color-cta;
  display: inline-block;
  font-family: $font-stack-normal;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 12px;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-cta;
    border: 1px solid $color-cta;
    color: $color-white;
  }
}

.button__primary__on_color {
  color: $color-white;
}
